@import "../../styles/palette.scss";

.title {
  margin-left: 15%;
  font-family: "Cardo", serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: $primary-colour;

  &::first-letter {
    font-size: 4rem;
  }
}
