@import "../../styles/palette.scss";

.navigation {
  z-index: 1;
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  background-color: $primary-colour;
  justify-content: flex-end;
  height: 75px;
  filter: drop-shadow(0px 4px 4px $shadow-colour);
}

.navigationItem {
  border-bottom: 3px solid $primary-colour;
  font-family: "Roboto", sans-serif;
  font-size: large;
  text-transform: uppercase;

  &::first-letter {
    font-size: larger;
  }

  a {
    display: block;
    padding: 20px 25px;
    color: $highlight-colour;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 3px solid $highlight-colour;
  }
}

.viewing {
  a {
    color: $background-colour;
  }

  &:hover {
    border-bottom: 3px solid $background-colour;
  }

  border-bottom: 3px solid $primary-colour;
}

@media all and (max-width: 500px) {
  .navigationItem {
    font-size: large;

    a {
      padding: 20px 15px;
    }
  }
}

@media all and (max-width: 350px) {
  .navigationItem {
    font-size: large;
    a {
      padding: 20px 15px;
    }
  }
}
