@import "./palette.scss";

.title {
  font-family: "Indie Flower", cursive;
  font-size: 4rem;
  color: $primary-colour;
}

.subtitle {
  font-family: "Roboto Slab", serif;
  color: $secondary-colour;
}
